{%include "header.html"%}
        <div class="main-content about">
            <section class="page-head">
                <span>Who We Are</span>
                <h2>About Us</h2>
                <!-- <div class="page-vectors">
                    <img class="page-vector-1" src="../static/images/page-head-vector-1.png" alt="page-vector">
                    <img class="page-vector-2" src="../static/images/page-head-vector-2.png" alt="page-vector">
                    <img class="page-vector-3" src="../static/images/page-head-vector-3.png" alt="page-vector">
                    <img class="page-vector-4" src="../static/images/page-head-vector-4.png" alt="page-vector">
                </div> -->
            </section>
            <section class="about-banner" style="margin-bottom: 65px;">
                <div class="container">
                    <div class="about-top">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="top-img">
                                    <img class="top-1" src="../static/images/about-top-1.jpg" alt="about-top">
                                    <img class="top-2" src="../static/images/about-top-2.jpg" alt="about-top">

                                </div>

                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="about-info">
                                    <h3 class="section-title">
                                    THE FUTURE OF SOCIAL MEDIA IS PRIVATE
                                    </h3>
                                    <p class="section-subtitle">
                                    KnoBee believes to create a  platform that provides a unique way for families, friends, and even strangers to connect and interact meaningfully. With us, every user will experience a dynamic engaging experience beyond just casual chatting or sharing pictures, videos, etc. 
                                    We don’t want our users to have a monotonous experience with old ways of chatting, sharing memories, and handling their profiles. 
                                    We acknowledge the importance of privacy and security, to satisfy this parameter so we have put our advanced algorithm and security mechanisms in place to ensure that your data and conversations stay safe and private.


                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="about-../static/images">
                        <div class="bottom-img">
                            <div class="row">
                                <div class="col-lg-4 col-xl-4 col-sm-4 col-4">
                                    <img class="top-3" src="../static/images/about-bot-1.jpg" alt="about">

                                </div>
                                <div class="col-lg-8 col-sm-8 col-8">
                                    <img class="top-4" src="../static/images/about-bot-2.jpg" alt=" about">
                                </div>

                            </div>

                        </div>

                    </div> -->

                </div>
            </section>
            <section class="about-mission">
                <div class="container">
                    <h3 class="section-title">OUR MISSION</h3>
                    <p class="section-subtitle">
                    To create a space dedicated to families and loved ones, where they can come together cherish meaningful connections, and celebrate the most precious moments of their lives. 
                    </p>
                </div>
            </section>
            <section class="about-mission">
                <div class="container">
                    <h3 class="section-title">OUR VISION</h3>
                    <p class="section-subtitle">
                    To become the leading private media platform for connecting users with their families and friends through the safest digital media.   
                    </p>
                </div>
            </section>
            <section class="about-mission">
                <div class="container">
                    <h3 class="section-title">OUR VALUES</h3>
                    <p class="section-subtitle" style="margin-bottom: 50px;">
                    The longingness to connect with our family has always been a major part of our lives, especially in our busy going life Our core value is to lead with our loved ones whether in our personal or professional lives. 
                    </p>
                </div>
            </section>
            <section class="about-focus">
                <div class="container">
                    <div class="focus">
                        <div class="title-top">OUR FOCUS</div>
                        <h3 class="section-title">To be the India's most trusted</h3>
                        <p class="section-subtitle">
                            We provide the answers your social needs and put fulfil them into effect.
                        </p>
                        <div class="focus-cards row-1 newContain">
                            <div class="focus-card">
                            <img src="../static/images/content.png" alt="why-card" style="width:100%;">
                                <h5>content</h5>
                                <p>A media without irrelevant content </p>
                            </div>

                            <div class="focus-card">
                            <img src="../static/images/private.png" alt="why-card" style="width:100%;">
                                <h5>private space</h5>
                                <p>To create a virtual private space.</p>
                            </div>

                            <div class="focus-card">
                            <img src="../static/images/safety.png" alt="why-card" style="width:100%;">
                                <h5>safety</h5>
                                <p>Share your moments with your loved ones with total safety</p>
                            </div>
                            <div class="focus-card">
                            <img src="../static/images/safemedia.png" alt="why-card" style="width:100%;">
                            <h5>safe media</h5>
                            <p>Highly personalized safe media platform for use</p>
                          </div>

                        </div>

                    </div>
                    <!-- <div class="focus-cards row-2 newContain">
                        

                        <div class="focus-card">
                            <i class="fa-solid fa-heart"></i>
                            <h5>Trust</h5>
                            <p>Nullam tincidunt, purus sit amet viverra auctor, quam neque dapibus duieyri.</p>
                        </div>

                        <div class="focus-card">
                            <i class="fa-solid fa-shield"></i>
                            <h5>Security</h5>
                            <p>Nullam tincidunt, purus sit amet viverra auctor, quam neque dapibus duieyri.</p>
                        </div>

                    </div> -->
                </div>
            </section>
            <!-- <section class="about-para">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <img src="../static/images/about-img-1.jpg" alt="about-img">
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="para-content">
                                <h3 class="section-title">We always do the right thing also trust each other.</h3>
                                <p class="section-subtitle">
                                    Duis orci nisl, ornare non diam id, dapibus faucibus urna. Vestibulum tristique
                                    posuere
                                    iaculis. Suspendisse orci tortor, auctor non luctus sed, vulputate sit amet libero.
                                    Maecenas congue fringilla justo molestie dapibus. Cras quis erat in velit rhoncus
                                    mollis. Phasellus eu enim dignissim an
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </section> -->
            <!-- <section class="our-work">
                <div class="container">
                    <div class="work-content-mobile">

                        <h3 class="section-title">
                            Quality of Our<br>
                            Works
                        </h3>
                        <p class="section-subtitle">
                            Duis orci nisl, ornare non diam id, dapibus faucibus urna. Vestibulum
                            tristique posuere iaculis. Suspendisse orci tortor, auctor non luctus sed,
                            vulputate sit amet libero. Maecenas congue fringilla justo molestie dapibus.
                            Cras quis erat in velit rhoncus mollis. Phasellus eu enim dignissim an
                        </p>

                    </div>
                    <div class="row">
                        <div class="col-sm-4 col-4">
                            <div class="work-content">

                                <h3 class="section-title">
                                    Quality of Our<br>
                                    Works
                                </h3>
                                <p class="section-subtitle">
                                    Duis orci nisl, ornare non diam id, dapibus faucibus urna. Vestibulum
                                    tristique posuere iaculis. Suspendisse orci tortor, auctor non luctus sed,
                                    vulputate sit amet libero. Maecenas congue fringilla justo molestie dapibus.
                                    Cras quis erat in velit rhoncus mollis. Phasellus eu enim dignissim an
                                </p>

                            </div>
                            <div class="work-image">
                                <img class="work-img-1" src="../static/images/about-work-img-2.jpg" alt="office">
                            </div>
                        </div>
                        <div class="col-sm-8 col-8">
                            <div class="work-img-sec">

                                <img class="work-img-2" src="../static/images/about-work-img-1.jpg" alt="office">
                            </div>
                        </div>
                    </div>






                </div>
            </section> -->

            <!-- <section class="our-team">
                <div class="container">
                    <h3 class="section-title">Our Team</h3>
                    <p class="section-subtitle">
                        The professionals who already ready to help you any moment
                    </p>
                    <div class="about-team">
                        <div class="team-row">
                            <div class="team-card">
                                <img src="../static/images/team/team-1.jpg" alt="team-member">
                                <h6>Robert Long</h6>
                                <span>CEO & Co-Founder</span>
                                <div class="social">
                                    <a href="#!"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="#!"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="#!"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-card">
                                <img src="../static/images/team/team-2.jpg" alt="team-member">
                                <h6>Daniel Josheph</h6>
                                <span>CTO & Co-Founder</span>
                                <div class="social">
                                    <a href="#!"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="#!"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="#!"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-card">
                                <img src="../static/images/team/team-3.jpg" alt="team-member">
                                <h6>Alisha Wonderhide</h6>
                                <span>Co-Founder</span>
                                <div class="social">
                                    <a href="#!"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="#!"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="#!"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-card">
                                <img src="../static/images/team/team-4.jpg" alt="team-member">
                                <h6>Jennifer Smith</h6>
                                <span>Maketing Specialist</span>
                                <div class="social">
                                    <a href="#!"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="#!"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="#!"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-row">
                            <div class="team-card">
                                <img src="../static/images/team/team-5.jpg" alt="team-member">
                                <h6>Natasha Singh</h6>
                                <span>Sr. Frond End Developer</span>
                                <div class="social">
                                    <a href="#!"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="#!"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="#!"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-card">
                                <img src="../static/images/team/team-6.jpg" alt="team-member">
                                <h6>Barrett Rock</h6>
                                <span>Product Manager</span>
                                <div class="social">
                                    <a href="#!"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="#!"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="#!"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-card">
                                <img src="../static/images/team/team-7.jpg" alt="team-member">
                                <h6>Devid John</h6>
                                <span>UX Expert</span>
                                <div class="social">
                                    <a href="#!"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="#!"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="#!"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                            <div class="team-card">
                                <img src="../static/images/team/team-8.jpg" alt="team-member">
                                <h6>Imani Luoe</h6>
                                <span>Graphic Designer</span>
                                <div class="social">
                                    <a href="#!"><i class="fa-brands fa-facebook"></i></a>
                                    <a href="#!"><i class="fa-brands fa-twitter"></i></a>
                                    <a href="#!"><i class="fa-brands fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->
{%include "footer.html"%}