{% include "header.html" %}
<div class="main-content about">
            <section class="page-head">
                <span>KNOBEE</span>
                <h2 style="text-transform: uppercase;">(FAQ)</h2>
                <!-- <div class="page-vectors">
                    <img class="page-vector-1" src="images/page-head-vector-1.png" alt="page-vector">
                    <img class="page-vector-2" src="images/page-head-vector-2.png" alt="page-vector">
                    <img class="page-vector-3" src="images/page-head-vector-3.png" alt="page-vector">
                    <img class="page-vector-4" src="images/page-head-vector-4.png" alt="page-vector">
                </div> -->
            </section>
            <section class="about-banner" style="margin:60px;">
                <div class="container">
                    <div class="about-top">
                    <h3 style="text-align: center;margin-bottom: 53px;margin-top: 130px;">FREQUENTLY ASKED QUESTION</h3>
                        <div class="accordion" id="accordionExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  1)&nbsp;&nbsp;&nbsp;What is Private Social Media?
                                </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                <p class="accordion">A media platform that allows users to communicate, share, and access information privately without posting on a public forum. KnoBee confers you to build your community of family and friends, your own space Built by ‘ The Family for The Family ’.</p> 
                                </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                2)&nbsp;&nbsp;&nbsp;What is the relevance of 7R relations in Hive Network?                               
                                </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                <p class="accordion">A human is said to be surrounded by 7 major relations in his life which include Mother, Father, Daughter, son, Spouse, Brother, and Sister. KnoBee’s Algorithms provide you to build your family network by adding these seven relations per user. For example, if a user adds his seven relations then each of these seven persons will connect their own seven relations which will ultimately result in a huge family network.</p> 
                                </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                3)&nbsp;&nbsp;&nbsp;Will my data be visible to my mates and family or to the public? 
                                </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                <p class="accordion">In KnoBee we have two networks for building connections, Hive & Mates Network. In this case, when a user shares their Pictures, videos, and thoughts they will be only seen by their added members not by the rest of the users until and unless the user adds them by themselves or they send a request.</p> 
                                </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                4)&nbsp;&nbsp;&nbsp;How KnoBee control junk and irrelevant posts to my account? 
                                </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                <p class="accordion">KnoBee algorithm is developed in a way where the system is managing your family relations on a level, though you have an unlimited chain that will make you a part of a very massive Hive. But our "Spread" function system is forwarding that post to only the next levels (not to all hives). It means the creative, useful, and important posts will get more chances to promote whereas the post which will have less useful, irrelevant, or spam will be relegated automatically.</p>
                                </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingFive">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                5)&nbsp;&nbsp;&nbsp;Is my privacy is protected with my Hive & Mates? 
                                </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                <p class="accordion">You can control access to your data and profile easily with KnoBee application. Your Hiver can only access your family tree whereas your mate can only access your wall.</p>  
                                </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingSix">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                6)&nbsp;&nbsp;&nbsp;How to get started with KnoBee?
                                </button>
                                </h2>
                                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                <p class="accordion">Getting started with KnoBee is quite easy for everyone as it only requires you to have a mobile device with a good network connection. Once you open the app after installing it, you would receive an OTP on your given phone number. Once verified, you are good o go with the app. Eventually, you would be asked to add your family members as Parents, Siblings, Spouse, etc., and thus complete the family tree. If you don’t have anyone who fits into any of the provided relations, you can skip it and move forward.</p>
                                <p class="accordion">Note: It is mandatory to add your parents to the family tree either with their direct mobile number or yours. </p> 
                                </div>
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
            </section>

</div>
{% include "footer.html" %}