<section class="sect try-onir">
                <div class="container">
                    <div class="try-vectors">
                        <!-- <img class="vector-1" src="../static/images/try-vector-1.png" alt="graphic-img">
                        <img class="vector-2" src="../static/images/try-vector-2.png" alt="graphic-img" style = "width:100px"> -->
                        <!-- <img class="vector-3" src="../static/images/try-vector-3.png" alt="graphic-img"> -->
                        <!-- <img class="vector-4" src="../static/images/try-vector-4.png" alt="graphic-img"> -->

                    </div>
                    <div class="try-content">
                        <div class="row">
                            <div class="col-lg-7 col-sm-12">
                                <h3 class="section-title">Join Knobee: Where Social Media Becomes a Canvas for Creativity!<br>
                                </h3>
                                <!-- <p class="section-subtitle">
                                    Download our latest version and please don’t<br>
                                    forget to rate :)
                                </p> -->
                                <div class="app-download">
                                    <div class="ios-download ">
                                        <a class="btn-container" href="#!">
                                            <img src="../static/images/app-store.png" alt="">
                                            <span>App Store</span></a>
                                    </div>
                                    <div class="android-download">
                                        <a class="btn-container" href="#!">
                                            <img src="../static/images/play-store.png" alt="">
                                            <span>Play Store</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-12">
                                <div class="try-onir-img">
                                    <img src="../static/images/try-onir-ss.png" alt="try-onir" style = "width : 330px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- <section class="sect subscribe-input">
                <h3 class="section-title">Subscribe Newsletter</h3>
                <p class="section-subtitle">
                    Suspendisse tincidunt sapien feliuentum
                </p>
                <div class="bottom-vector">
                    <img src="../static/images/bottom-vector.png" alt="bottom-vector">
                </div>
                <div class="container">
                    <div class="input-container">
                        <input type="email" placeholder="Enter your email address" />
                        <button type="submit">Submit</button>
                    </div>
                </div>
            </section> -->
            <section class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="footer-start">
                                <img src="../static/images/logo/footer-logo.png" style="width:150px" alt="logo">
                                <p>750, 7th FLOOR, Tower- B I-thum Business Park Sector 62 Noida</p>
                                <p>support@knobee.app</p>
                                <p>+91-9667111244</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="company">
                                <h5>Company</h5>
                                <ul>
                                    <li><a href="#!">About</a></li>
                                    <li><a href="#!">Service</a></li>
                                    <li><a href="#!">Careers</a></li>
                                    <li><a href="#!">Blog</a></li>
                                    <!-- <li><a href="#!">Pricing</a></li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="contact">
                                <h5>Contact</h5>
                                <ul>
                                    <li><a href="#!">Help</a></li>
                                    <li><a href="#!">FAQs</a></li>
                                    <li><a href="#!">Press</a></li>
                                    <li><a href="#!">Terms & Conditions</a></li>
                                    <li><a href="#!">Partners</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="footer-socials">
                                <div class="social-icon">
                                    <a href=""><i class="fa fa-facebook-square"></i></a>
                                    <a href="https://twitter.com/knobeeindia"><i class="fa fa-twitter-square"></i></a>
                                    <a href="https://www.instagram.com/iamknobee/"><i
                                            class="fa fa-instagram"></i></a>
                                    <a href="https://www.linkedin.com/company/knobee/"><i
                                            class="fa fa-linkedin"></i></a>
                                </div>
                                <h6>Download Now!</h6>
                                <div>
                                    <div class="app-download">
                                        <div class="ios-download ">
                                            <a class="btn-container" href="#!">
                                                <img src="../static/images/app-store.png" alt="">
                                                <span>App Store</span></a>
                                        </div>
                                        <div class="android-download">
                                            <a class="btn-container" href="#!">
                                                <img src="../static/images/play-store.png" alt="">
                                                <span>Play Store</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </section>
            <div class="copyright" style="padding: 10px!important;">
                <p style="margin-bottom : 0px">Copyright © 2021 KnoBee Social India Pvt. Ltd.. All Rights reserved</p>
            </div>
        </div>
    
</div>
    <!-- <div class="modal modal-sm fade" id="login" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Login</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-container">
                        <div class="input-container">
                            <label>Name</label>
                            <input type="text" class="form-control" placeholder="Enter Name" />
                        </div>
                        <div class="input-container">
                            <label>Username</label>
                            <input type="text" class="form-control" placeholder="Enter Username" />
                        </div>
                        <div class="input-container">
                            <label>Email</label>
                            <input type="text" class="form-control" placeholder="Enter Email" />
                        </div>
                        <div class="input-container">
                            <label>Password</label>
                            <input type="text" class="form-control" placeholder="Enter Password" />
                        </div>
                        <button class="btn btn-primary">Login</button>
                        <div class="another-way">
                            <span>Another way to Join Now</span>
                            <div>
                                <a href="#!"><i class="fa-brands fa-facebook"></i></a>
                                <a href="#!"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#!"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                        </div>
                        <p>Already have an Account? <a href="#" data-bs-toggle="modal"
                                data-bs-target="#existingUser">Sign In.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="modal modal-sm fade" id="existingUser" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sign Up</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-container">
                        <div class="input-container">
                            <label>Username</label>
                            <input type="text" class="form-control" placeholder="Enter Name" />
                        </div>
                        <div class="input-container">
                            <label>Password <a href="#">Forgot Password</a></label>
                            <input type="text" class="form-control" placeholder="Enter Password" />
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                Remember me
                            </label>
                        </div>
                        <button class="btn btn-primary">Sign In Now</button>
                        <div class="another-way">
                            <span>Another way to Sign in</span>
                            <div>
                                <a href="#!"><i class="fa-brands fa-facebook"></i></a>
                                <a href="#!"><i class="fa-brands fa-twitter"></i></a>
                                <a href="#!"><i class="fa-brands fa-instagram"></i></a>
                            </div>
                        </div>
                        <p>Don't have an Account? <a href="#" data-bs-toggle="modal" data-bs-target="#login">Register
                                Now.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        // document.addEventListener("DOMContentLoaded", function () {
        //     var element = document.querySelector(".head-fly");
        //     element.classList.add("show");
        // });
    </script>
    <script>
        const image = document.getElementById('image');
        const hov1 = document.getElementsByClassName('in-touch');
        for (let i = 0; i < hov1.length; i++) {
            hov1[i].addEventListener('mouseenter', function () {
                image.style.opacity = 0;
                setTimeout(function () {
                    image.src = "../static/images/img1.png";
                    image.style.opacity = 1;
                }, 500);
            });

            hov1[i].addEventListener('mouseleave', function () {
                image.style.opacity = 0;
                setTimeout(function () {
                    image.src = "../static/images/img5.png";
                    image.style.opacity = 1;
                }, 500);
            });
        }
        const hov2 = document.getElementsByClassName('review');
        for (let i = 0; i < hov2.length; i++) {
            hov2[i].addEventListener('mouseenter', function () {
                image.style.opacity = 0;
                setTimeout(function () {
                    image.src = "../static/images/img2.png";
                    image.style.opacity = 1;
                }, 500);
            });

            hov2[i].addEventListener('mouseleave', function () {
                image.style.opacity = 0;
                setTimeout(function () {
                    image.src = "../static/images/img5.png";
                    image.style.opacity = 1;
                }, 500);
            });
        }

        const hov3 = document.getElementsByClassName('demo');
        for (let i = 0; i < hov3.length; i++) {
            hov3[i].addEventListener('mouseenter', function () {
                image.style.opacity = 0;
                setTimeout(function () {
                    image.src = "../static/images/img3.png";
                    image.style.opacity = 1;
                }, 500);
            });

            hov3[i].addEventListener('mouseleave', function () {
                image.style.opacity = 0;
                setTimeout(function () {
                    image.src = "../static/images/img5.png";
                    image.style.opacity = 1;
                }, 500);
            });
        }

        const hov4 = document.getElementsByClassName('setup');
        for (let i = 0; i < hov4.length; i++) {
            hov4[i].addEventListener('mouseenter', function () {
                image.style.opacity = 0;
                setTimeout(function () {
                    image.src = "../static/images/img4.png";
                    image.style.opacity = 1;
                }, 500);
            });

            hov4[i].addEventListener('mouseleave', function () {
                image.style.opacity = 0;
                setTimeout(function () {
                    image.src = "../static/images/img5.png";
                    image.style.opacity = 1;
                }, 500);
            });
        }

    </script>
</body>

</html>