{%include "header.html"%}    
        <div class="main-content hp-1 bigStuff">
            <section class="sect banner-section" id="home">
                <div class="super-container" id="video-container">
                        <video id="video1" preload="" autoplay="" muted="" playsinline="" loop="">
                            <source src="../static/images/knobee.mp4" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                </div>
                    <!-- <div class="container" style="padding:15px;">
                        <div class="head-fly">
                            <h1 class="typewriter-text" style="color:#023148;">The Future of<br>
                                Social Media Is Private
                            </h1>
                            <p class="section-subtitle" style="color:#023148;">
                                Share your moments with your closest ones (friends or family)…<br>
                                Social Media Redefined: “Private, Secure, and Connected”
                            </p>
                        </div>
                        <div class="app-download">
                            <div class="ios-download ">
                                <a class="btn-container" href="#!">
                                    <img src="../static/images/app-store.png" alt="">
                                    <span>App Store</span></a>
                            </div>
                            <div class="android-download">
                                <a class="btn-container" href="#!">
                                    <img src="../static/images/play-store.png" alt="">
                                    <span>Play Store</span>
                                </a>
                            </div>
                        </div>

                        <div class="banner-vectors">
                            <div class="banner-vector-imgs">
                                <img class="banner-vector-1" src="../static/images/try-vector-2.png" alt="benner-vectors" style="width:15%!important;">
                                <img class="banner-vector-2" src="../static/images/try-vector-2.png" alt="benner-vectors" style="width:15%!important;">
                                <img class="banner-vector-3" src="../static/images/try-vector-2.png" alt="benner-vectors" style="width:15%!important;">
                                <img class="banner-vector-4" src="../static/images/try-vector-2.png" alt="benner-vectors" style="width:15%!important;">
                                <img class="banner-vector-5" src="../static/images/try-vector-2.png" alt="benner-vectors" style="width:15%!important;">
                                <img class="banner-vector-6" src="../static/images/try-vector-2.png" alt="benner-vectors" style="width:15%!important;">

                            </div>
                        </div>
                    </div>-->
                <div>
                    <div class="hp-1 banner-carousel owl-carousel owl-theme">
                        <div class="screenshot">
                            <img src="../static/images/phone-4.png" alt="screenshots" height="614" width="298"
                                style="margin-top: 0px;">
                        </div>
                        <div class="screenshot">
                            <img src="../static/images/phone-5.png" alt="screenshots" height="481" width="242"
                                style="margin-top: 110px;">
                        </div>
                        <div class="screenshot">
                            <img src="../static/images/phone-6.png" alt="screenshots" height="438" width="220"
                                style="margin-top: 210px;">
                        </div>
                        <div class="screenshot">
                            <img src="../static/images/phone-7.png" alt="screenshots" height="406" width="204"
                                style="margin-top: 160px;">
                        </div>
                        <div class="screenshot">
                            <img src="../static/images/phone-1.png" alt="screenshots" height="406" width="204"
                                style="margin-top: 160px;">
                        </div>
                        <div class="screenshot">
                            <img src="../static/images/phone-2.png" alt="screenshots" height="438" width="220"
                                style="margin-top: 210px;">
                        </div>
                        <div class="screenshot">
                            <img src="../static/images/phone-3.png" alt="screenshots" height="481" width="242"
                                style="margin-top: 110px;">
                        </div>
                    </div> 
                </div>
                <!-- <div class="watch-now">
                    <a class="btn-container" href="#!">
                        <img src="../static/images/play-video.png" alt="">
                        <span>Watch Video</span>
                    </a>
                </div> -->
            </section>
            <section class="sect how-it-works" id="how-works">
                <div class="container">
                    <h3 class="section-title">How Knobee Works</h3>
                    <p class="section-subtitle">
                        App works very smoothly with your requirements and its easy to install and<br>
                        register to you and your clients.
                    </p>
                    <div class="working-content">
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <div class="newContain">
                                    <div class="work-card  in-touch">
                                        <div class="work-img ">
                                            <img src="../static/images/chat.png" alt="work-img" style="width:85%;">
                                        </div>
                                        <h6 class="work-steps">Start your chat</h6>
                                        <p class="steps-para">
                                        Share your thoughts & Feelings with your family and friends
                                        </p>
                                    </div>
                                </div>
                                <div class="newContain">
                                    <div class="work-card review">
                                        <div class="work-img">
                                            <img src="../static/images/login.png" alt="work-img" style="width:90%;">
                                        </div>

                                        <h6 class="work-steps">LOGIN</h6>

                                        <p class="steps-para">
                                            Sign up on knoBee with your Phone number 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="work-center"></div>
                                <div class="work-center-img">
                                    <img src="../static/images/img5.png" alt="screenshots" id="image">
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="newContain">
                                    <div class="work-card demo">
                                        <div class="work-img">
                                            <img src="../static/images/feed.png" alt="work-img" style="width:80%;">
                                        </div>

                                        <h6 class="work-steps">Share posts</h6>

                                        <p class="steps-para">
                                            Share your content with total safety 
                                        </p>
                                    </div>
                                </div>
                                <div class="newContain">
                                    <div class="work-card setup">
                                        <div class="work-img">
                                            <img src="../static/images/hive.png" alt="work-img" style=" width:85px;">
                                        </div>

                                        <h6 class="work-steps">HIVE NETWORK</h6>

                                        <p class="steps-para">
                                        Build your family network by adding your loved ones and virtually creating your own family tree
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="work-vector">
                            <img class="vector-1" src="../static/images/try-vector-2.png" alt="vector" style="width:10%;">
                            <img class="vector-2" src="../static/images/try-vector-2.png" alt="vector" style="width:10%;">
                        </div>
                    </div>
                </div>
            </section>
            <section class="sect features" id="features">
                <div class="container">
                    <h3 class="section-title">Our Awesome Features</h3>
                    <p class="section-subtitle">
                        Share your moments with your closest ones (friends or family). It also help to improve your<br>
                        customer service and make more money quickly.
                    </p>
                    <div class="feature-vectors">
                        <img class="feature-vector-1" src="../static/images/feature-vector-1.png" alt="feature-vector">
                        <img class="feature-vector-2" src="../static/images/feature-vector-2.png" alt="feature-vector">
                        <img class="feature-vector-3" src="../static/images/feature-vector-3.png" alt="feature-vector">
                        <img class="feature-vector-4" src="../static/images/feature-vector-4.png" alt="feature-vector">

                    </div>
                    <div class="feature-content">
                        <div class="row">
                            <div class="col-lg-5 col-sm-12">
                                <div class="feature-img">
                                    <img src="../static/images/img4.png" alt="screenshots" style="width:50%">
                                </div>
                            </div>
                            <div class="col-lg-7 col-sm-12">
                                <div class="feature-info">
                                    <div class="title-top">KnoBee</div>
                                    <h3 class="section-title">HIVE NETWORK</h3>
                                    <p class="section-subtitle">
                                    A space where you can create your family tree by adding your family members
                                    A zeal to know all of your relatives? Build your family tree to know your extended family members

                                    </p>
                                    <ul>
                                        <li class="feature-list">
                                            <span> next generation auto expandable family tree</span>
                                        </li>
                                        <li class="feature-list">
                                            <span>Gets you connected to your far-off relatives</span>
                                        </li>
                                        <li class="feature-list">
                                            <span>Your private space for your Family network</span>
                                        </li>
                                        <li class="feature-list">
                                            <span>Share your memories with your whole family at once</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="feature-content">
                        <div class="row">
                           
                            <div class="col-lg-7 col-sm-12">
                                <div class="feature-info">
                                    <div class="title-top">KnoBee</div>
                                    <h3 class="section-title">MATES NETWORK</h3>
                                    <p class="section-subtitle">
                                      A space where you and your buddies can share your moments and make your friends a group
                                    </p>
                                    <ul>
                                        <li class="feature-list">
                                            <span>Make party plans with your friends and friends of friends</span>
                                        </li>
                                        <li class="feature-list">
                                            <span>Your friends' space to share your feelings or talk with your mates</span>
                                        </li>
                                        <li class="feature-list">
                                            <span>Share trendy gossips </span>
                                        </li>
                                        <li class="feature-list">
                                            <span>Make you stay connected to long-distance buddies</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-12">
                                <div class="feature-img">
                                    <img src="../static/images/feature-ss-1.png" alt="screenshots" style="width:50%" >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="feature-content">
                        <div class="row">
                            <div class="col-lg-5 col-sm-12">
                                <div class="feature-img">
                                    <img src="../static/images/img1.png" alt="screenshots" style="width:50%">
                                </div>
                            </div>
                            <div class="col-lg-7 col-sm-12">
                                <div class="feature-info">
                                    <div class="title-top">KnoBee</div>
                                    <h3 class="section-title">START YOUR CHAT</h3>
                                    <p class="section-subtitle">
                                     Your private messaging column to chit-chat 
                                    </p>
                                    <ul>
                                        <li class="feature-list">
                                            <span> next generation auto expandable family tree</span>
                                        </li>
                                        <li class="feature-list">
                                            <span>Gets you connected to your far-off relatives</span>
                                        </li>
                                        <li class="feature-list">
                                            <span>Your private space for your Family network</span>
                                        </li>
                                        <li class="feature-list">
                                            <span>Share your memories with your whole family at once</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="feature-content boost-productivity">
                        <div class="row">

                            <div class="col-lg-7 col-sm-12">
                                <div class="feature-info">
                                    <div class="title-top">DOLOR SIT AMET</div>
                                    <h3 class="section-title">Boost Your Productivity</h3>
                                    <p class="section-subtitle">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Nunc et lectus
                                        quam. In
                                        hac
                                        habitasse platea dictumst.<br> Curabitur sit amet neque tincidunt purus
                                        eleifend<br>
                                        consequat
                                        vel
                                        ut nib.
                                    </p>
                                    <div class="app-download">
                                        <div class="ios-download ">
                                            <a class="btn-container" href="#!">
                                                <img src="../static/images/app-store.png" alt="">
                                                <span>App Store</span></a>
                                        </div>
                                        <div class="android-download">
                                            <a class="btn-container" href="#!">
                                                <img src="../static/images/play-store.png" alt="">
                                                <span>Play Store</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-sm-12">
                                <div class="feature-img">
                                    <img src="../static/images/feature-ss-2.png" alt="screenshots">

                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </section>
            <section class="sect why-onir">
                <div class="container">
                    <div class="why-onir-content">
                        <h3 class="section-title">Why To Choose KnoBee</h3>
                        <p class="section-subtitle">
                            Invite your mates and family to share your thoughts & Feelings with them<br>
                            Your Space Built by ‘ The Family for The Family ’
                        </p>
                        <div class="why-cards">
                            <div class="row">
                                <div class="col-lg-4 col-sm-12">
                                    <div class="newContain">
                                        <div class="why-card">
                                            <div class="why-img">
                                                <img src="../static/images/content.png" alt="why-card" style="width:70%;">
                                            </div>
                                            <h6 class="why-title">Irrelevant content</h6>
                                            <p class="why-para">
                                            A solution to media platforms that are loaded with pointless content and advertisements. 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="newContain">
                                        <div class="why-card">
                                            <div class="why-img">
                                                <img src="../static/images/privacy.png" alt="why-card" style="width:100%;">
                                            </div>
                                            <h6 class="why-title">Lack of privacy</h6>
                                            <p class="why-para">
                                            Your virtual private space for connecting with your friends and family

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="newContain">
                                        <div class="why-card">
                                            <div class="why-img">
                                                <img src="../static/images/information.png" alt="why-card" style="width:100%;">
                                            </div>
                                            <h6 class="why-title">Misuse of information</h6>
                                            <p class="why-para">
                                            Share your information, pictures, videos, or any personal information with total safety
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="why-features-cards">
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <div class="newContain">
                                    <div class="why-feature">
                                        <img src="../static/images/downloads.png" alt="why-feature" style="width:50%;">
                                        <h3 id="downloads1"></h3>
                                        <div>Downloads</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="newContain">
                                    <div class="why-feature">
                                        <img src="../static/images/android.png" alt="why-feature" style="width:50%;">
                                        <h3 id="downloads2">3200+</h3>
                                        <div>Downloads</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="newContain">
                                    <div class="why-feature">
                                        <img src="../static/images/ios.png" alt="why-feature" style="width:50%;">
                                        <h3 id="downloads3">7.5 M+</h3>
                                        <div>Downloads</div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                    </div>

                </div>
            </section>

            <!-- <section class="sect testimonial">
                <div class="container">
                    <h3 class="section-title">People Loves Onir</h3>
                    <p class="section-subtitle">
                        We love our clients. Here are just a few of the amazing testimonials about our great
                        results,<br>
                        personable services and knowledge.
                    </p>

                </div>
                <div class="testimonial-vector">
                    <img src="../static/images/international.png" alt="graphic">
                </div>
            </section> -->


            <!-- <section class="sect onir-plans" id="pricing">
                <div class="container">
                    <h3 class="section-title">Simple, Transparent Plans.<br>
                        Let Start with Onir.</h3>
                    <p class="section-subtitle">
                        Choose a plan that works for you.
                    </p>
                    <div class="plan-vectors">
                        <img class="vector-1" src="../static/images/plan-vector.png" alt="plan-vector">
                        <img class="vector-2" src="../static/images/plan-vector-1.png" alt="plan-vector">

                    </div>
                    <div class="plan-tenure">
                        <span>Monthly</span>
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round"></span>
                        </label>
                        <span class="active">Yearly</span>
                        <img src="../static/images/plan-tenure.png" alt="offer">
                    </div>
                    <div class="plan-cards mobile-cards">
                        <div class="plan-card">
                            <div class="plan-name">Base</div>
                            <span>For the basics</span>
                            <div class="plan-amount">
                                <h3>$49</h3>
                                <span>/ac</span>
                            </div>
                            <button class="btn btn-primary">Choose Plan</button>
                            <ul class="plan-features">
                                <li><i class="fa-solid fa-circle-check"></i>Get started with messaging</li>
                                <li><i class="fa-solid fa-circle-check"></i>Flexible team meeting</li>
                                <li><i class="fa-solid fa-circle-check"></i>1 Project</li>
                                <li> <i class="fa-solid fa-circle-check"></i>1 GB Cloud storage</li>
                                <li> <i class="fa-solid fa-circle-check"></i>6 month support</li>
                            </ul>
                        </div>
                        <div class="plan-card active">
                            <div class="popularity">
                                Popular
                            </div>
                            <div class="plan-name">Startup</div>
                            <span>For small team</span>
                            <div class="plan-amount l-digit">
                                <h3>$199</h3>
                                <span>/ac</span>
                            </div>
                            <button class="btn btn-primary">Choose Plan</button>
                            <ul class="plan-features">
                                <li><i class="fa-solid fa-circle-check"></i>Get started with messaging</li>
                                <li><i class="fa-solid fa-circle-check"></i>Flexible team meeting</li>
                                <li><i class="fa-solid fa-circle-check"></i>100 Projects</li>
                                <li><i class="fa-solid fa-circle-check"></i>1 GB Cloud storage</li>
                                <li><i class="fa-solid fa-circle-check"></i>1 year support</li>
                            </ul>
                        </div>
                        <div class="plan-card">
                            <div class="plan-name">Enterprise</div>
                            <span>For the professionals</span>
                            <div class="plan-amount">
                                <h3>$559</h3>
                                <span>/ac</span>
                            </div>
                            <button class="btn btn-primary">Choose Plan</button>
                            <ul class="plan-features">
                                <li><i class="fa-solid fa-circle-check"></i>Get started with messaging</li>
                                <li><i class="fa-solid fa-circle-check"></i>Flexible team meeting</li>
                                <li><i class="fa-solid fa-circle-check"></i>Unlimited Projects</li>
                                <li> <i class="fa-solid fa-circle-check"></i>200 GB Cloud storage</li>
                                <li> <i class="fa-solid fa-circle-check"></i>Life time</li>
                            </ul>
                        </div>


                    </div>
                </div>
            </section> -->
            <!-- <section class="sect onir-stories  ">
                <div class="container">
                    <h3 class="section-title">Read Our Stories</h3>
                    <p class="section-subtitle">
                        We would like to share with you knowledge, experiences and latest news
                    </p>
                    <div class="story-vector">
                        <img src="../static/images/testimonials/testimonial-graphic.png" alt="vector-img">

                    </div>
                    <div class="stories-card mobile-cards">
                        <div class="story-card">
                            <img src="../static/images/onir-story-1.jpg" alt="onir-story">
                            <div class="story-time">30 min ago</div>
                            <div class="story-content">
                                <h4>Added Cool Features</h4>
                                <p>Nullam tincidunt, purus sit amet viverra auctor, quamque incidunt, puincidunt,
                                    dapibus
                                    duieyri.</p>
                                <a href="#!">Read Story </a>
                            </div>
                        </div>
                        <div class="story-card">
                            <img src="../static/images/onir-story-2.jpg" alt="onir-story">
                            <div class="story-time">30 min ago</div>
                            <div class="story-content">
                                <h4>Awesome Works</h4>
                                <p>Nullam tincidunt, purus sit amet viverra auctor, quamque incidunt, puincidunt,
                                    dapibus
                                    duieyri.</p>
                                <a href="#!">Read Story </a>
                            </div>
                        </div>
                        <div class="story-card">
                            <img src="../static/images/onir-story-3.jpg" alt="onir-story">
                            <div class="story-time">30 min ago</div>
                            <div class="story-content">
                                <h4>Looking cool at pink</h4>
                                <p>Nullam tincidunt, purus sit amet viverra auctor, quamque incidunt, puincidunt,
                                    dapibus
                                    duieyri.</p>
                                <a href="#!">Read Story </a>
                            </div>
                        </div>


                    </div>
                </div>
            </section> -->

            <!-- <section class="sect faq">
                <div class="container">
                    <div class="faq-content-wrap">
                        <h3 class="section-title">Frequently Asked Questions</h3>
                        <div class="qa-content">
                            <div class="question">How can I pay?</div>
                            <div class="answer">
                                <p>You can make payment via credit card, debit card, net banking, UPI transfer
                                    or google pay etc. Nunc sit amet justo odio. In ac nibh in nisi pellentesque.</p>
                            </div>
                        </div>

                        <div class="qa-content">
                            <div class="question">Where do I go to setup an account?</div>
                            <div class="answer">
                                <p>
                                    Curabitur sed sem accumsan libero fringilla posuere congue ut sapien.
                                    Suspendisse potenti. Donec quis euismod velit. Sed ut velit non justo feugiat
                                    malesuada
                                    vitae non ligula.
                                </p>
                            </div>
                        </div>

                        <div class="qa-content">
                            <div class="question">What is process to get a refund?</div>
                            <div class="answer">
                                <p>If you have made payment, but haven’t received the download link with the purchase,
                                    you
                                    can raise a ticket our expert will get back as soon as possible on your registered
                                    email
                                    or write to us support@onirapp.com</p>
                            </div>
                        </div>

                        <div class="qa-content">
                            <div class="question">How can I cancel my account?</div>
                            <div class="answer">
                                <p>You can cancel your account any time. You are free for it or if you have any
                                    questions
                                    about the app you can write to us at complaint@onirapp.com
                                </p>
                            </div>
                        </div>

                        <div class="qa-content">
                            <div class="question">Can I develop a website or personal page
                                along with Onir app?</div>
                            <div class="answer">
                                <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                    mus.
                                    Praesent molestie justo vitae viverra porttitor. Quisque tincid unt leo et consequat
                                    consequat. Mauris euismod pharetra velit ac tristique. Fusce orci turpis, mattis ut
                                    bibendum a, dictum nec massa.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->   
{%include "footer.html"%}
